<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link type="text/css" rel="stylesheet" href="CSS_Test/CSS/RichMedia_Proj2_CSS0-1.css">
    <script>
        ///
        // Main structure of map functionality borrowed from Maps HW
        // Edited by Elliot Privateer
        // https://github.com/tonethar/IGME-330-Master/blob/master/notes/_files/Maps-1.pdf
        let map;
        let infoWindow;
        function initMap(loc, zoom) {
            let mapOptions = {
                center: loc,//{ lat: 37.0902, lng: -95.7129 },
                zoom: zoom,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);


            // for future reference
            // let position = {lat:43.082634, lng:-77.68004};
            // let marker = new google.maps.Marker ({position:position, map: map});
            // marker.setTitle("Crossroads");
        }



        function InfoWindow(position, msg) {
            if (infoWindow) infoWindow.close();

            infoWindow = new google.maps.InfoWindow({
                map: map,
                position: position,
                content: "<b>" + msg + "</b>"
            });
        }
        ///

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjncHpQdRfjHbDiAyXF8Q-n8UNZ1VHg0w&libraries=places"
        type="text/javascript"></script>
    <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js" type="text/javascript"></script>
    <script src="//unpkg.com/vue@latest/dist/vue.min.js" type="text/javascript"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js" type="text/javascript"></script>

    <title>MapQuakeFind</title>
</head>

<body>
    <div id="mqe-root">
        <h1>Map, Quake, Find</h1>
        <div id="search">
            <div id="bar">
                <select v-model="type">
                    <option value="accounting">accounting</option>
                    <option value="airport">airport</option>
                    <option value="amusement_park">amusement_park</option>
                    <option value="aquarium">aquarium</option>
                    <option value="art_gallery">art_gallery</option>
                    <option value="atm">atm</option>
                    <option value="bakery">bakery</option>
                    <option value="bank">bank</option>
                    <option value="bar">bar</option>
                    <option value="beauty_salon">beauty_salon</option>
                    <option value="bicycle_store">bicycle_store</option>
                    <option value="book_store">book_store</option>
                    <option value="bowling_alley">bowling_alley</option>
                    <option value="bus_station">bus_station</option>
                    <option value="cafe">cafe</option>
                    <option value="campground">campground</option>
                    <option value="car_dealer">car_dealer</option>
                    <option value="car_rental">car_rental</option>
                    <option value="car_repair">car_repair</option>
                    <option value="car_wash">car_wash</option>
                    <option value="casino">casino</option>
                    <option value="cemetery">cemetery</option>
                    <option value="church">church</option>
                    <option value="city_hall">city_hall</option>
                    <option value="clothing_store">clothing_store</option>
                    <option value="convenience_store">convenience_store</option>
                    <option value="courthouse">courthouse</option>
                    <option value="dentist">dentist</option>
                    <option value="department_store">department_store</option>
                    <option value="doctor">doctor</option>
                    <option value="electrician">electrician</option>
                    <option value="electronics_store">electronics_store</option>
                    <option value="embassy">embassy</option>
                    <option value="fire_station">fire_station</option>
                    <option value="florist">florist</option>
                    <option value="funeral_home">funeral_home</option>
                    <option value="furniture_store">furniture_store</option>
                    <option value="gas_station">gas_station</option>
                    <option value="gym">gym</option>
                    <option value="hair_care">hair_care</option>
                    <option value="hardware_store">hardware_store</option>
                    <option value="hindu_temple">hindu_temple</option>
                    <option value="home_goods_store">home_goods_store</option>
                    <option value="hospital">hospital</option>
                    <option value="insurance_agency">insurance_agency</option>
                    <option value="jewelry_store">jewelry_store</option>
                    <option value="laundry">laundry</option>
                    <option value="lawyer">lawyer</option>
                    <option value="library">library</option>
                    <option value="liquor_store">liquor_store</option>
                    <option value="local_government_office">local_government_office</option>
                    <option value="locksmith">locksmith</option>
                    <option value="lodging">lodging</option>
                    <option value="meal_delivery">meal_delivery</option>
                    <option value="meal_takeaway">meal_takeaway</option>
                    <option value="mosque">mosque</option>
                    <option value="movie_rental">movie_rental</option>
                    <option value="movie_theater">movie_theater</option>
                    <option value="moving_company">moving_company</option>
                    <option value="museum">museum</option>
                    <option value="night_club">night_club</option>
                    <option value="painter">painter</option>
                    <option value="park">park</option>
                    <option value="parking">parking</option>
                    <option value="pet_store">pet_store</option>
                    <option value="pharmacy">pharmacy</option>
                    <option value="physiotherapist">physiotherapist</option>
                    <option value="plumber">plumber</option>
                    <option value="police">police</option>
                    <option value="post_office">post_office</option>
                    <option value="real_estate_agency">real_estate_agency</option>
                    <option value="restaurant" selected>restaurant</option>
                    <option value="roofing_contractor">roofing_contractor</option>
                    <option value="rv_park">rv_park</option>
                    <option value="school">school</option>
                    <option value="shoe_store">shoe_store</option>
                    <option value="shopping_mall">shopping_mall</option>
                    <option value="spa">spa</option>
                    <option value="stadium">stadium</option>
                    <option value="storage">storage</option>
                    <option value="store">store</option>
                    <option value="subway_station">subway_station</option>
                    <option value="supermarket">supermarket</option>
                    <option value="synagogue">synagogue</option>
                    <option value="taxi_stand">taxi_stand</option>
                    <option value="train_station">train_station</option>
                    <option value="transit_station">transit_station</option>
                    <option value="travel_agency">travel_agency</option>
                    <option value="veterinary_care">veterinary_care</option>
                    <option value="zoo">zoo</option>
                </select>


                <input type="text" v-model="searchLat">Lat

                <input type="text" v-model="searchLng">Lng

                <button @click="doSearch">Search</button>
            </div>
            <section>
                <div id="radios">
                    Radius:
                    <label class="radio"><strong>1</strong>
                        <input type="radio" checked="checked" name="radio">
                        <span class="check"></span>
                    </label>
                    <label class="radio"><strong>5</strong>
                        <input type="radio" name="radio">
                        <span class="check"></span>
                    </label>
                    <label class="radio"><strong>10</strong>
                        <input type="radio" name="radio">
                        <span class="check"></span>
                    </label>
                </div>
                <div id="radios2">
                    Amount:
                    <label class="radio"><strong>2</strong>
                        <input type="radio" checked="checked" name="radio2">
                        <span class="check"></span>
                    </label>
                    <label class="radio"><strong>4</strong>
                        <input type="radio" name="radio2">
                        <span class="check"></span>
                    </label>
                    <label class="radio"><strong>MAX</strong>
                        <input type="radio" name="radio2">
                        <span class="check"></span>
                    </label>
                </div>
                <div id="range">

                    <div class="slidecontainer">Zoom Slider: <strong>-</strong>
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <strong>+</strong></div>

                </div>


            </section>
            <div id="map"></div>
        </div>
        <div id="results">
            <div id="gm-attrib"></div>
            <div id="loading" v-show="loading">Loading...</div>
            <search-result v-for="result in results" v-bind:result="result"></search-result>
        </div>
    </div>
    <script src="JS/map.js"></script>

    <script>
        function d2r(degrees) {
            return degrees / 180 * Math.PI;
        }
        function geo_distance(start, end) { // haversine
            // taken from https://www.movable-type.co.uk/scripts/latlong.html
            // then mildly optimized by Nic Hartley
            let R = 3956; // miles
            let φ1 = d2r(start.lat);
            let φ2 = d2r(end.lat);
            let shΔφ = Math.sin(d2r(end.lat - start.lat) / 2);
            let shΔλ = Math.sin(d2r(end.lng - start.lng) / 2);

            let a = shΔφ * shΔφ +
                Math.cos(φ1) * Math.cos(φ2) * shΔλ * shΔλ;
            let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

            let res = R * c;
            return res;
        }

        class Result {
            static _getEarthquakes() {
                if (Result.earthquakes) {
                    return Promise.resolve(Result.earthquakes);
                } else {
                    return fetch('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson')
                        .then(r => r.json())
                        .then(res => res.features.map(f => {
                            return {
                                mag: f.properties.mag,
                                location: f.properties.place,
                                lat: f.geometry.coordinates[0],
                                lng: f.geometry.coordinates[1],
                                id: f.properties.id,
                            };
                        }))
                        .then(eqs => Result.earthquakes = eqs);
                }
            }

            static search(term, location, max) {
                let mapsPromise = new Promise((ok, err) => {
                    Result.PLACES_SVC.nearbySearch({
                        type: term,
                        location: location,
                        radius: 25000 // meters
                    }, (res, status) => {
                        if (status == google.maps.places.PlacesServiceStatus.OK) {
                            console.log("res", res);
                            console.log(location);
                            this.maxObjects = res.length;
                            ///
                            // Reinitialize map and add new markers based on new elements
                            // Edited by Elliot Privateer
                            initMap(SetMap(res, map), 9.9);
                            CreateMarkers(res, map);
                            ///
                            console.log(this.maxObjects);
                            ok(res);
                        } else {
                            err({ code: status, data: res });
                        }
                    })
                });
                return Promise.all([
                    Result._getEarthquakes(),
                    mapsPromise,
                ]).then(p => p[1].map(r => new Result(r, p[0])));
            }

            constructor(raw_result, eqs) {
                this.location = {
                    lat: raw_result.geometry.location.lat(),
                    lng: raw_result.geometry.location.lng(),
                };
                this.location_pretty = `${Math.abs(this.location.lat).toFixed(4)} ${this.location.lat < 0 ? 'E' : 'W'}, ${Math.abs(this.location.lng).toFixed(4)} ${this.location.lng < 0 ? 'N' : 'S'}`
                this.plus_code = raw_result.plus_code.global_code;
                this.icon = raw_result.icon;
                this.name = raw_result.name;
                this.earthquakes = eqs.map(e => {
                    e.distance = geo_distance(e, this.location);
                    return e;
                }).filter(e => e.distance < 2500 /* miles */).sort((l, r) => l.distance - r.distance);
            }
        }
        Result.PLACES_SVC = new google.maps.places.PlacesService(document.querySelector("#gm-attrib"));

        Vue.component('search-result', {
            props: {
                result: Object,
                required: true,
            },
            template: '<div class="search-result">' +
                '<h3>{{ result.name }}</h3>' +
                '<img v-bind:src="result.icon" />' +
                '<p>{{ result.location_pretty }} ({{ result.plus_code }})</p>' +
                '<ul>' +
                '<li v-for="e in result.earthquakes" :key="e.id">' +
                'Magnitude {{ e.mag }}, location: {{ e.location }} ({{ e.distance.toFixed(2) }} miles away)' +
                '</li>' +
                '</ul>' +
                '</div>',
        });

        ///
        // Creates a markers based on how many results are returned
        // from the search
        // Edited by Elliot Privateer
        function CreateMarkers(positions, map) {
            //console.log(positions[0].name);
            for (let x = 0; x < positions.length; x++) {
                // let position = {lat:43.082634, lng:-77.68004};
                // let marker = new google.maps.Marker ({position:position, map: map});
                // marker.setTitle("Crossroads");

                let position = { lat: positions[x].geometry.location.lat(), lng: positions[x].geometry.location.lng() };
                let marker = new google.maps.Marker({ position: position, map: map });
                marker.setTitle(positions[x].name);
            }
        }

        function SetMap(positions, map) {
            let tempLat = 0;
            let tempLng = 0;
            for (let x = 0; x < positions.length; x++) {
                tempLat += positions[x].geometry.location.lat();
                tempLng += positions[x].geometry.location.lng();
            }
            tempLat /= positions.length;
            tempLng /= positions.length;

            return { lat: tempLat + .03, lng: tempLng + .07 };
        }
        ///

        let app = new Vue({
            el: '#mqe-root',
            data: {
                loading: false,
                results: [],
                type: "restaurant",
                searchLat: 34.0522,
                searchLng: -118.2437,
                map: map,
                maxObjects: 0,
            },
            methods: {

                doSearch() {
                    this.loading = true;
                    // Result.search(this.type, { lat: 34.0522, lng: -118.2437 }, this.maxObjects)
                    //     .then(r => this.results = r).then(_ => this.loading = false);//.then(initMap());
                    Result.search(this.type, { lat: parseFloat(this.searchLat), lng: parseFloat(this.searchLng) }, this.maxObjects)
                        .then(r => this.results = r).then(_ => this.loading = false);//.then(initMap());
                    
                }

            }
        });

        ///
        // default initialization
        initMap({ lat: 37.0902, lng: -95.7129 }, 3);
        ///
    </script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVRuIR2xgRM8xP8Djo-q86fP_ITSQoyKw&callback=initMap"
        async defer></script> -->
</body>

</html>