/*Start: General*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/*End: General*/

/*Start: Button*/
button{
    background-color: rgb(216, 216, 216);
    color: grey;
    width: 66.5px;
    height: 33px; 
    border: none;
    padding-left: 3px;
    padding-right: 3px;
}

button:hover{
    background-color: rgb(231, 231, 231);
    border-width: 2px;
    border-style: ridge;
    cursor: pointer;
    color: black;
}

.button{
    appearance: none;
    display: inline-block;
    width: 66.5px;
    height: 33px;
}

button:active{
    width: 62.5px;
    height: 30px;
    margin-left: 2px;
    margin-top: 1.5px;
    color: rgb(58, 58, 58);
    background-color: rgb(240, 240, 240);
}
/*End: Button*/

/*Start: Search Bar*/
input[type=search]{
    background-color: rgb(216, 216, 216);
    
    border: none;
    height: 33.25px;
    padding: 3px;
}

input[type=search]:hover, input[type=search]:focus{
    
    border-width: 2px;
    border-style: ridge;
    width: 187.8px;
    padding: 1px;
}
input[type=search]:hover{
    background-color: rgb(231, 231, 231);
    
}

input[type=search]::placeholder{
    color: grey;
}

input[type=search]:hover::placeholder{
    color: black;
}

input[type=search]:focus::placeholder{
    color: transparent;
}

input[type=search]:focus
{
    background-color: rgb(240, 240, 240);
}
/*End: Search Bar*/

/*Start: checkbox*/
.checkbox{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox .check{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(216, 216, 216);
    margin-left: 5px;
    margin-top: 5px;
}

.checkbox:hover input ~ .check{
    border-width: 2px;
    border-style: ridge;
    background-color: rgb(231, 231, 231);
}

.checkbox:active input ~ .check{
    background-color: rgb(240, 240, 240);
}

.checkbox input:active:checked ~ .check{
    background-color: rgb(240, 240, 240);
}

.checkbox input:checked ~ .check{
    border-width: 2px;
    border-style: ridge;
    background-color: rgb(231, 231, 231);
}

.checkbox .check::after{
    content: "X";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .check::after{
    display: inline-block;
}

.checkbox .check::after{
    width: 25px;
    height: 25px;
    left: -1.5px;
    top: -7px;
    
}
/*End: checkbox*/

/*Start: Radio*/
.radio {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default radio button */
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .radio .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(216, 216, 216);
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
  }

  .radio div{
    position: absolute;
    top: -2px;
    left: -2px;
    height: 25px;
    width: 25px;
    background-color: transparent;
    /* border: 1px solid grey; */
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio:hover input ~ .check {
    border-width: 2px;
    /* border-color: grey; */
    border-style: ridge;
    border-right-style: groove;
    border-bottom-style: groove;
    background-color: rgb(231, 231, 231);
  }

  .radio:active input ~ .check{
    background-color: rgb(240, 240, 240);
  }

  .radio input:active:checked ~ .check{
    background-color: rgb(240, 240, 240);
  }
  
  /* When the radio button is checked, add a blue background */
  .radio input:checked ~ .check {
    border-width: 2px;
    
    border-style: ridge;
    border-right-style: groove;
    border-bottom-style: groove;
    background-color: rgb(231, 231, 231);
  }
  
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio .check:after {
    content: "X";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio input:checked ~ .check:after {
    display: inline-block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio .check:after {
    width: 25px;
    height: 25px;
    left: -1.5px;
    top: -7px;
  }
  
/*End: Radio*/

/* #radios {
    float: left;
}

#radios2 {
    float: right;
} */

/*Start: Range Slider*/
.slidecontainer {
    width: 100%; 
  }
  
  .slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 200px; 
    height: 25px; 
    background: rgb(216, 216, 216); 
    outline: none; 
    /* opacity: 0.7;  */
    /* -webkit-transition: .2s; 
    transition: opacity .2s; */
  }
  
  .slider:hover {
    /* opacity: 1;  */
    background: rgb(231, 231, 231);
    border-width: 2px;
    /* border-style: ridge; */
  }

  .slider:active {
    background: rgb(231, 231, 231);
    border-width: 2px;
    border-style: ridge;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
    background: black; 
    border-radius: 50px;
    cursor: pointer; 
  }

  .slider::-webkit-slider-thumb:active {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
    background: rgb(43, 43, 43); 
    border-radius: 50px;
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: black; 
    border-radius: 50px;
    cursor: pointer; 
  }

  .slider::-moz-range-thumb:active {
    width: 25px; 
    height: 25px; 
    background: rgb(43, 43, 43); 
    border-radius: 50px;
    cursor: pointer; 
  }
/*End: Range Slider*/

/*Start: Generic - Search*/
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#radios {
    order: 1;
}

#radios2 {
    order: 3;
}

#range {
    order: 2;
}

#radios, #radios2, #range {
    margin: 0 auto;
}
/*End: Generoc - Search*/

/*Start: Generic - Results*/
.search-result {
    border-width: 5px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-style: ridge;
    margin: 5px;
    height: 100%;
    background-color: rgb(216, 216, 216);
}

#search,
#results {
    text-align: center;

}

#results {
    width: 100%;
    margin: 0 auto;
}

#results p {
    width: 90%;
    margin: 0 auto;
}

#results img{
    text-align: center;
}

#bar {
    height: 50px;
}

.slidecontainer strong{
    font-size: x-large;
}

#results {
    /* padding: 100px; */
    height: 100%;
}

ul {
    height: 310px;
    overflow-y: scroll;
    border-style: ridge;
    border-width: 5px;
    padding: 1%;

}

h1 {
    text-align: center;
}

h3 {
    height: 50px;
    font-size: medium;
}
/*End: Generic - Results*/

/*Start - text*/
input[type=text] {
    width: 50px;
    height: 25px;
}
/*End - text*/

#map{
    margin: 0 auto;
    width: 71%;
    height: 400px;
    border-width: 8px;
    border-style: ridge;
}

#address {
    font-size: small;
}